.foggy-background {
    width: 100%;
    height: 73vh;
    background: var(--color-foggy);
    border-radius: 10px;
}    

.shuffle {
    width: 40%;
    background: var(--color-blue) !important;
    color: var(--color-plum) !important;

}